@import "mixins";
@import "reset";
@import "variables";
@import "general";
@import "form";
@import "navigation";
@import "dataSection";

body {
  background-color: $background;
}

#toast {
  padding: 2.4rem;
  text-align: center;
}

.warn {
  background-color: #ffcb5b;
}
