<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Personal files" />
    <meta name="robots" content="unfollow,no-index" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Personal Credentials</title>
  </head>
  <body>
    <header>
      <div id="navigation">
        <div id="logo">
          <h1>Personal Storage</h1>
          <img th:src="@{'/img/logo.svg'}" alt="Logo" tabindex="0" />
        </div>
        <img id="menu-icon" th:src="@{'/img/menu.svg'}" alt="Menu" />
        <nav class="main-nav">
          <ul>
            <li>
              <a th:href="@{/files}"><span id="file">Files</span></a>
            </li>
            <li>
              <a th:href="@{/notes}"><span id="note">Notes</span></a>
            </li>
            <li>
              <a href="#" id="selected"
                ><span id="credential">Credentials</span></a
              >
            </li>
            <li>
              <a href="#"><span id="logout">Logout</span></a>
            </li>
          </ul>
          <img
            id="menu-close-icon"
            th:src="@{'/img/menu-close.svg'}"
            alt="Close Menu"
            tabindex="0"
          />
        </nav>
      </div>
    </header>
    <p
      class="toast success"
      th:if="${messageSuccess}"
      th:text="${messageSuccess}"
    >
      Success
    </p>
    <p class="toast error" th:if="${messageFail}" th:text="${messageFail}">
      FAIL
    </p>
    <main>
      <div id="credential-section">
        <a href="#" id="upload-label" class="create-note">Create credential</a>
        <section id="data-section" th:if="${not #lists.isEmpty(credentials)}">
          <h1>Created credentials</h1>
          <div>
            <table>
              <thead>
                <tr>
                  <th>Url</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item : ${credentials}">
                  <td th:text="${item.url}">URL</td>
                  <td th:text="${item.userName}">USERNAME</td>
                  <td th:text="${item.passwordEncrypted}">PASSWORD</td>
                  <td class="edit">
                    <a
                      href="#"
                      th:data-edit-id="${item.id}"
                      th:data-edit-url="${item.url}"
                      th:data-edit-username="${item.userName}"
                      th:data-edit-password="${item.passwordEncrypted}"
                      class="data-edit"
                      >Edit</a
                    >
                  </td>
                  <td class="delete">
                    <a
                      href="#"
                      th:data-delete-id="${item.id}"
                      th:data-delete-item="${item.url}"
                      class="data-delete"
                      >Delete</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </main>
    <div class="form-focus edit-credential hide">
      <section id="form">
        <h1 id="credential-heading">Create Note</h1>
        <hr />
        <form
          th:action="@{/credentials}"
          method="POST"
          th:object="${credentialForm}"
          th:classappend="${#fields.hasErrors()} ? error-note : no-error"
        >
          <input type="text" name="id" id="id" th:value="*{id}" hidden />
          <label for="url">Url</label>
          <input type="text" th:value="*{url}" name="url" id="url" required />
          <span
            th:if="${#fields.hasErrors('url')}"
            th:errors="*{url}"
            id="error-title"
            >Error title</span
          >
          <label for="username">Username</label>
          <input
            type="text"
            th:value="*{username}"
            name="username"
            id="username"
            required
          />
          <span
            th:if="${#fields.hasErrors('username')}"
            th:errors="*{username}"
            id="error-description"
            >Error username</span
          >
          <label for="password">Password</label>
          <input
            type="text"
            th:value="*{password}"
            name="password"
            id="password"
            required
          />
          <span
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
            id="error-description"
            >Error password</span
          >
          <div id="buttons">
            <button type="submit" id="submit">Create</button>
            <button id="cancel">Cancel</button>
          </div>
        </form>
      </section>
    </div>
    <div class="form-focus hide" id="delete-dialog">
      <section id="form">
        <h1>Deletion</h1>
        <hr />
        <p>
          Are you sure you want to delete <b id="actual-item"></b> credential?
        </p>
        <form th:action="@{/notes/delete}" method="POST">
          <input type="text" name="noteId" id="itemid" hidden />
          <div id="buttons">
            <button type="submit" id="approve">Delete</button>
            <button id="cancel-deletion">Cancel</button>
          </div>
        </form>
      </section>
    </div>
    <script th:src="@{/js/notes.js}" type="module"></script>
  </body>
</html>
