<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Login into Personal Storage" />
    <meta name="robots" content="follow,index" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Login</title>
  </head>
  <body>
      <p id="toast" class="warn">
        This website serves just for demonstration purposes. Your registered account will be deleted after you log out.
      </p>
      <main>
        <section id="form">
          <p id="toast" class="success" th:if="${signupSuccess}">
            Your account was sucessfully created.
          </p>
          <h1>Login</h1>
          <hr />
          <form th:action="@{/login}" method="POST">
            <span id="login-error" th:if="${param.error}">The username or password is incorrect.</span>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
            <label for="password">Password</label>  
            <input type="password" name="password" id="password">
            <button type="submit">Login</button>
          </form>
          <hr />
          <p>Do not have accout yet? <a th:href="@{/signup}"/> Sign Up </a></p>
        </section>
      </main>
  </body>
</html>
